#block {margin: auto;
        width: 800px;
}
#page {
  border: 5px solid black;
  margin-top: 5px;
  font-family: Verdana;
  background: #333;
  background-color: #ffebcd;
  padding: 5px;
}
.my-photo{
  padding: 10px;
  margin-left: 10px;
}
.my-name {
}

.contacts-container {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

}
.contacts-title {
  ;
}
.contacts-link {
}
.work-expirience {
}
.tech-skills-container {
}
.tech-skills-title {
}
.tech-skills-item {
  list-style-type: disc;
}
.tech-skills-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.soft-skills-container {
}
.soft-skills-title {
}
.soft-skills-item {
}
.soft-skills-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.projects-title {
}
.projects-link {
}
.education {
  text-align: left;
}
.english {
  text-align: center;
  color: #8a2be2;
  padding: 10px;
  font-size: medium;
  font-size: 16px;
}

